parameters:
    level: 8
    tmpDir: .phpstan.cache
    paths:
        - src
        - bin
    ignoreErrors:
        # Игнорируем ошибки, связанные с классами Google Protobuf
        - '#Call to (method|property) .* on an unknown class Google\\Protobuf#'
        - '#Instantiated class Google\\Protobuf.* not found#'
        - '#Parameter .* of method .* has invalid type Google\\Protobuf.*#'
        - '#Access to constant .* on an unknown class Google\\Protobuf.*#'

        # Временно игнорируем ошибки в HydratorGenerator и RepositoryGenerator
        - '#Call to an undefined method Nette\\PhpGenerator\\Parameter::setBody\(\)#'

    treatPhpDocTypesAsCertain: false
